@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
  }

  @font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gotham/Gotham-Font/GothamBook.ttf");
  }
}
